*{
    box-sizing: border-box;
}

body{
    background-color: #ceffff;
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    height: 100%
}

header{
    background-color: #003859;
    text-align: center;
    width: 100%;
    color: #65fff7;
    padding: 4px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.search-bar{
    padding: 0px 30px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#search-input{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

button{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}

#search-history{
    margin-top: 10px;
    width: 100%
}

.forecast{
    flex: 3;
}

#forecast-today{
    border: 2px solid black;
    margin: 10px;
    padding: 25px;
    background-color: #1de3e3;
}

#forecast-city{
    display: flex;
    font-size: 50px;
    margin: 0;
}

.forecast-nextweek{
    padding: 10px;
}

.forecast-nextweek h2{
    margin: 30px;
    text-align:center;
}

#forecasts{
    display: flex;
    justify-content: space-evenly;

}

#forecasts div{
    background-color: #13a0f2;
    padding: 5px;
    border: 1px solid black;
}
h3{
    margin: 0;
}